[submodule "GoobySoft/Tools/Software/Libraries/OpenSAEJ1939/Open-SAE-J1939"]
	path = GoobySoft/Tools/Software/Libraries/OpenSAEJ1939/Open-SAE-J1939
	url = https://github.com/DanielMartensson/Open-SAE-J1939.git
[submodule "GoobySoft/Tools/Software/Libraries/CControl"]
	path = GoobySoft/Tools/Software/Libraries/CControl
	url = https://github.com/DanielMartensson/CControl.git
[submodule "GoobySoft/Tools/Software/Libraries/EasyCANopen/Easy-CANopen"]
	path = GoobySoft/Tools/Software/Libraries/EasyCANopen/Easy-CANopen
	url = https://github.com/DanielMartensson/Easy-CANopen.git